.questionForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 23vh;
  width: 50vw;
}

.questionBox {
  width: 35vw;
  height: 10vh;
  border-radius: 1em;
  border: 0;
  margin-bottom: 1em;
  background-color: #fefee5;
}

.submitQuestion {
  width: 20vw;
  height: 5vh;
  border-radius: 0.5em;
  border: 0;
  background-color: #f7cbbd;
}

/* * {
  border: 1px solid blue;
} */
