.question-tile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40vw;
  background-color: #d8ba85;
  border-radius: 0.2em;
  color: #2e2e2e;
  font-size: 1.5rem;
  margin: 0.5em;
}

.text-container {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

/* ------------------ effects ------------------ */

.fade-in-fwd {
  -webkit-animation: fade-in-fwd 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-fwd 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

/* ------------------ breakpoints ------------------ */

@media screen and (max-width: 800px) {
  .question-tile {
    width: 65vw;
    font-size: 2em;
  }
}

@media screen and (max-width: 500px) {
  .question-tile {
    width: 75vw;
    font-size: 2.3em;
  }
}
