@import url('https://fonts.googleapis.com/css2?family=Anybody:wght@500&family=Zen+Loop&display=swap');

.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #2e2e2e;
  background-image: url('./images/background-img.jpg');
  background-size: auto 100%;
  background-size: cover;
  background-position: center top;
  background-repeat: no repeat;
  font-family: 'Zen Loop', cursive;
}

/* ------------------ breakpoints ------------------ */

@media screen and (max-width: 500px) {
  .App {
    height: 100%;
  }
}
